.vscode
.DS_Store
__pycache__
.idea
data/oxford-iiit-pet
data/kagglecatsanddogs_5340.zip
data/PetImages
data/CDLA-Permissive-2.0.pdf
data/readme[1].txt
data/ILSVRC2012_devkit_t12.tar.gz
data/ILSVRC2012_img_val.tar
data/meta.bin
data/val
models/checkpoints
*images
*playground.py
*test.ipynb
*.pt
*.pth
**/*.pt
**/*.pth
